@charset "utf-8";
/* CSS Document */
body,a,div,i,em,ul,ol,li,span,dl,dt,dd,td,tr,b,br,img,strong,p,form,input,textarea,text,table,submit,hr{ padding:0; margin:0;font-family:'微软雅黑';}
body{ font-size:14px; font-family:'微软雅黑';}
li{ list-style-type:none;}
img{ vertical-align:top; border:0 none;}
a{ text-decoration:none;}
input,textarea{ outline:none; border:0 none;}
em,i{ font-style:normal; display:block;}

.logo{ width:1000px; margin:13px auto; overflow:hidden; }
hr{ color:#ed1c24;}.hr{ border:1px solid #ed1c24 ; }
.logo_left { display:inline-block; float:left; margin-left:0px; }
.logo_left .im1 { display:inline;background:url(../img/index_1.jpg)_right center no-repeat; width:44px; height:44px; cursor:pointer; }
.logo_left .im2 { display:inline;margin-left:5px; margin-top:5px ; background:url(../img/index_1.jpg)_right center no-repeat; width:136px; height:36px; cursor:pointer; }

.logo_right{ float:right;  margin-left:0}
.logo_right ul { overflow:hidden;height:44px;}
.logo_right ul li{ float:left;  line-height:44px;}
.logo_right ul li span{ margin:0 30px;}
.logo_right ul li a{ color:#595959;}
.logo_right ul li a:hover{ color:#ef3640;}
.logo_right ul li .logo_current{ color:#ef3640;}
.logo_li { overflow:hidden;  margin:4px 60px 4px 60px; *margin:4px 60px 4px 30px; }
.logo_li input{ float:left;}
.logo_text{ border:1px solid #e0e0e0; width:150px; height:34px; padding-left:10px; color:#999999;}
.logo_button{ background:url(../img/index_3.jpg) no-repeat center center; width:36px; height:36px; border:1px solid #e0e0e0; border-left:0; cursor:pointer;}
.logo_li2{ background:url(../img/index_4.jpg) no-repeat center center;}
.logo_li2 a{ margin:0 12px;}